html,
body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  border: 2px solid rgb(27, 127, 209);
  background: url(./Images/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */

.App-link {
  color: #61dafb;
}